.custom-audio-player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.8rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(14,2,21,0.5);
}

.display-image-player{
    height:30px;
    width: 30px;
    object-fit: cover;
    border-radius: 5px;
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}

.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
} 
.volume-range{
    filter: hue-rotate(25deg);
    width: 20%;
}

.audio-btn{
    cursor: pointer;
}

@media screen, (min-width:450px) {
    .custom-audio-player{
        width: 100%;
    }
}